{{ 'bestseller-collection.css' | asset_url | stylesheet_tag }}
<style>
   .bestseller-section {
    margin-bottom: {{ section.settings.section_margin_bottom }}px;
    padding-top: {{ section.settings.section_padding_top }}px;
    padding-bottom: {{ section.settings.section_padding_bottom }}px;
  }
  @media (max-width: 767px) {
    .bestseller-section {
      margin-bottom: {{ section.settings.section_margin_bottom_mobile }}px;
      padding-top: {{ section.settings.section_padding_top_mobile }}px;
      padding-bottom: {{ section.settings.section_padding_bottom_mobile }}px;
    }
  }
</style>
<section class="bestseller-section bestseller-section-{{ section.id }}">
  <div class="bestseller-left">
    <h2>{{ section.settings.heading }}</h2>
    <p id="par">{{ section.settings.text }}</p>
    <a
      href="{{ section.settings.button_link }}"
      class="btn"
      style="background: {{ section.settings.button_color }}; color: {{ section.settings.button_text_color }};">
      {{ section.settings.button_text }}
    </a>
  </div>
  <!-- Right Side -->
  <div class="bestseller-right">
    <div class="swiper swiper-{{ section.id }}">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          {% assign coll = collections[block.settings.collection] %}
          {% if coll != blank %}
            <div class="swiper-slide">
              <a href="{{ coll.url }}">
                {% if coll.image %}
                  {{ coll.image | image_url: width: 400 | image_tag: alt: coll.title, class: 'collection-image' }}
                {% endif %}
              </a>
              <div class="collection-title">{{ coll.title | strip_html | split: ' ' | slice: 0, 2 | join: ' ' }}</div>
              <p class="custom">Pro Youth Serum</p>
              <a href="{{ coll.url }}" class="collection-btn">
                <span class="btn-text">ADD TO BAG</span>
                <span class="btn-price">
                  - ₹ 6045</span>
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <!-- Arrows -->
      <div class="swiper-button-prev left-btn">{% render 'left-arrow-2' %}</div>
      <div class="swiper-button-next right-btn">{% render 'right-arrow-2' %}</div>
    </div>

  </div>
</section>
<script>
  document.addEventListener("DOMContentLoaded", function () {
  new Swiper(".swiper-{{ section.id }}", {
    slidesPerView: 1,
    spaceBetween: 10,
    loop : true,
    navigation: {
      nextEl: ".right-btn",
      prevEl: ".left-btn",
    },
    breakpoints: {
      0: { slidesPerView: 1.7 },
      768: { slidesPerView: 2 },
      1200: { slidesPerView: 3 }
    }
  });
  });
</script>
{% schema %}
  {
    "name": "Bestseller Collections",
    "settings": [
      {
        "type": "header",
        "content": "Spacing - Desktop"
      },
      {
        "type": "range",
        "id": "section_margin_bottom",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Section margin-bottom",
        "default": 0
      },
      {
        "type": "range",
        "id": "section_padding_top",
        "min": 10,
        "max": 60,
        "step": 2,
        "unit": "px",
        "label": "Inner Spacing Top padding",
        "default": 10
      },
      {
        "type": "range",
        "id": "section_padding_bottom",
        "min": 10,
        "max": 60,
        "step": 2,
        "unit": "px",
        "label": "Inner Spacing Bottom padding",
        "default": 10
      }, {
        "type": "header",
        "content": "Spacing - Mobile"
      }, {
        "type": "range",
        "id": "section_margin_bottom_mobile",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Section Spacing margin_bottom",
        "default": 0
      }, {
        "type": "range",
        "id": "section_padding_top_mobile",
        "min": 10,
        "max": 60,
        "step": 2,
        "unit": "px",
        "label": "Inner Spacing padding Top",
        "default": 20
      }, {
        "type": "range",
        "id": "section_padding_bottom_mobile",
        "min": 10,
        "max": 60,
        "step": 2,
        "unit": "px",
        "label": "Inner Spacing padding Bottom",
        "default": 20
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Love Your Skin With Our Bestsellers"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Paragraph",
        "default": "A skincare line crafted to perfection for 50 years"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "Shop All"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "Button Link",
        "default": "/collections/all"
      }, {
        "type": "color",
        "id": "button_color",
        "label": "Button Background Color",
        "default": "#FF7043"
      }, {
        "type": "color",
        "id": "button_text_color",
        "label": "Button Text Color",
        "default": "#FFFFFF"
      }, {
        "type": "text",
        "id": "collection_btn_text",
        "label": "Collection Button Text",
        "default": "View Collection"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection Card",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Select Collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Bestseller Collections",
        "blocks": [
          {
            "type": "collection"
          }, {
            "type": "collection"
          }, {
            "type": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}