<section class="get-started get-started-{{ section.id }} ">
  <h2 class="section-title">GET STARTED</h2>

  <div class="get-started-grid">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'get_started_item' %}
          {% assign coll = collections[block.settings.item_collection] %}
          {% if coll != blank %}
            <a href="{{ coll.url }}" class="item">
              {% if coll.image != blank %}
                {{ coll.image 
                  | image_url: width: 323, height: 419, crop: 'center' 
                  | image_tag: alt: coll.title, class: 'collection-image' }}
              {% endif %}
              <p class="collection-title">{{ coll.title }}</p>
            </a>
          {% endif %}
      {% endcase %}
    {% endfor %}
  </div>
</section>




<style>
   .features-{{ section.id }} {
      margin-bottom: {{ section.settings.margin_bottom }}px;
  }
  .get-started .item {
  text-decoration: none; /* ✅ removes underline on whole link */
}

.get-started .collection-image {
  width: 323px;     /* ✅ fixed width */
  height: 419px;    /* ✅ fixed height */
  object-fit: cover; /* nicely cropped */
  border-radius: 10px;
}

.get-started .collection-title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #000;       /* ✅ black color */
  text-decoration: none; /* ✅ remove underline */
}

  .get-started {
    text-align: center;
    padding: 10px 10px;
  }
  

  .section-title {
    font-size: 28px;
    margin-bottom: 30px;
  }

  h2 {
     font-size : 28px;
     font-weight: 600;
  }

  .get-started-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }

  .get-started .item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .get-started .item p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
  }

  /* Mobile responsive */
  @media (max-width: 500px) {
    .get-started-grid {
      grid-template-columns: repeat(2, 1fr); /* 2 columns */
      column-gap: 6px;  /* horizontal gap */
      row-gap: 10px;    /* vertical gap */
    }
  }
</style>

{% schema %}
{
  "name": "Get Started Section",
  "tag": "section",
  "class": "get-started",
  "settings": [
    {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Section bottom Margin",
        "default": 10
      },
    { 
      "type": "text",
      "id": "top_title",
      "label": "Top Heading"
    }
  ],
  "blocks": [
    {
      "type": "get_started_item",
      "name": "Get Started Item",
      "settings": [
        {
          "type": "collection",
          "id": "item_collection",
          "label": "Select Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Get Started Section"
    }
  ]
}
{% endschema %}
