{{ 'get-started.css' | asset_url | stylesheet_tag }}

<style>
  .get-started-{{ section.id }} {
    margin-bottom: {{ section.settings.section_margin_bottom }}px;
    padding-top: {{ section.settings.section_padding_top }}px;
    padding-bottom: {{ section.settings.section_padding_bottom }}px;
  }

  @media (max-width: 767px) {
    .get-started-{{ section.id }} {
      margin-bottom: {{ section.settings.section_margin_bottom_mobile }}px;
      padding-top: {{ section.settings.section_padding_top_mobile }}px;
      padding-bottom: {{ section.settings.section_padding_bottom_mobile }}px;
    }
  }
</style>
<section class="get-started get-started-{{ section.id }} ">
  <h2 class="section-title">GET STARTED</h2>

  <div class="get-started-grid">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'get_started_item' %}
          {% assign coll = collections[block.settings.item_collection] %}
          {% if coll != blank %}
            <a href="{{ coll.url }}" class="item">
              {% if coll.image != blank %}
                {{ coll.image 
                  | image_url: width: 323, height: 419, crop: 'center' 
                  | image_tag: alt: coll.title, class: 'collection-image' }}
              {% endif %}
              <p class="collection-title">{{ coll.title }}</p>
            </a>
          {% endif %}
      {% endcase %}
    {% endfor %}
  </div>
</section>
{% schema %}
{
  "name": "Get Started Section",
  "tag": "section",
  "class": "get-started",
  "settings": [
      {
        "type": "header",
        "content": "Spacing - Desktop"
      },
      {
        "type": "range",
        "id": "section_margin_bottom",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Section margin-bottom",
        "default": 0
      },
      {
        "type": "range",
        "id": "section_padding_top",
        "min": 10,
        "max": 60,
        "step": 2,
        "unit": "px",
        "label": "Inner Spacing Top padding",
        "default": 10
      },
      {
        "type": "range",
        "id": "section_padding_bottom",
        "min": 10,
        "max": 60,
        "step": 2,
        "unit": "px",
        "label": "Inner Spacing Bottom padding",
        "default": 10
      }, {
        "type": "header",
        "content": "Spacing - Mobile"
      }, {
        "type": "range",
        "id": "section_margin_bottom_mobile",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Section Spacing margin_bottom",
        "default": 0
      }, {
        "type": "range",
        "id": "section_padding_top_mobile",
        "min": 10,
        "max": 60,
        "step": 2,
        "unit": "px",
        "label": "Inner Spacing padding Top",
        "default": 20
      }, {
        "type": "range",
        "id": "section_padding_bottom_mobile",
        "min": 10,
        "max": 60,
        "step": 2,
        "unit": "px",
        "label": "Inner Spacing padding Bottom",
        "default": 20
      },
    {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Section bottom Margin",
        "default": 10
      },
    { 
      "type": "text",
      "id": "top_title",
      "label": "Top Heading"
    }
  ],
  "blocks": [
    {
      "type": "get_started_item",
      "name": "Get Started Item",
      "settings": [
        {
          "type": "collection",
          "id": "item_collection",
          "label": "Select Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Get Started Section"
    }
  ]
}
{% endschema %}
