
{{ 'good-choice.css' | asset_url | stylesheet_tag }}


<style>
 .features-{{ section.id }} {
    margin-bottom: {{ section.settings.section_margin_bottom }}px;
    padding-top: {{ section.settings.section_padding_top }}px;
    padding-bottom: {{ section.settings.section_padding_bottom }}px;
  }

  @media (max-width: 767px) {
    .features-{{ section.id }} {
      margin-bottom: {{ section.settings.section_margin_bottom_mobile }}px;
      padding-top: {{ section.settings.section_padding_top_mobile }}px;
      padding-bottom: {{ section.settings.section_padding_bottom_mobile }}px;
    }
  }
</style>

<section class="features features-{{ section.id }}">
  <h2 class="features-title">{{ section.settings.top_title  }}</h2>
   
  <div class="features-grid">
    {% for block in section.blocks %}
    {% case block.type %}
      {% when 'Good_Choice' %}
        <div class="feature-item">
          {% if block.settings.item_image != blank %}
            {{ block.settings.item_image }}
          {% endif %}
          {% if block.settings.item_text != blank %}
            <p>{{ block.settings.item_text }}</p>
          {% endif %}
        </div>
    {% endcase %}
  {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "good Section",
  "tag": "section",
  "class": "features",
  "settings": [
     {
        "type": "header",
        "content": "Spacing - Desktop"
      },
      {
        "type": "range",
        "id": "section_margin_bottom",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Section margin-bottom",
        "default": 0
      },
      {
        "type": "range",
        "id": "section_padding_top",
        "min": 10,
        "max": 60,
        "step": 2,
        "unit": "px",
        "label": "Inner Spacing Top padding",
        "default": 10
      },
      {
        "type": "range",
        "id": "section_padding_bottom",
        "min": 10,
        "max": 60,
        "step": 2,
        "unit": "px",
        "label": "Inner Spacing Bottom padding",
        "default": 10
      }, {
        "type": "header",
        "content": "Spacing - Mobile"
      }, {
        "type": "range",
        "id": "section_margin_bottom_mobile",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Section Spacing margin_bottom",
        "default": 0
      }, {
        "type": "range",
        "id": "section_padding_top_mobile",
        "min": 10,
        "max": 60,
        "step": 2,
        "unit": "px",
        "label": "Inner Spacing padding Top",
        "default": 20
      }, {
        "type": "range",
        "id": "section_padding_bottom_mobile",
        "min": 10,
        "max": 60,
        "step": 2,
        "unit": "px",
        "label": "Inner Spacing padding Bottom",
        "default": 20
      },
     { 
        "type" : "text",
        "id" : "top_title",
        "label" : "Top Heading"
     }
  ],
  "blocks": [
      {
      "type" : "Good_Choice",
      "name" : "Good_Choice",
       "settings": [
        {
           "type" : "html",
           "id" : "item_image",
           "label" : "Product image"
        },
        {
          "type" : "text",
          "id": "item_text",
          "label": "product title"
        }
       ]
      }
  ],
  "presets": [
    {
      "name": "good Section"
    }
  ]
}
{% endschema %}
